*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blurred {
  filter: blur(0.3rem); /* Adjust the blur amount as needed */
}

button:disabled {
  cursor: not-allowed;
}


.App-container{
  width: 100%;
  height: 100vh;

}

.App-outermost-container{
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
}

.Navbar-container{
width: 100%;
height: 4.3rem;
/* border: 3px solid greenyellow; */
  box-shadow:  0 0px 12px rgba(8, 70, 243, 0.4);
}




.content-div{
  width: 100%;
  height: calc(100% - 4.3rem);
  /* border: 3px solid yellow; */
  padding: 1rem;
  display: flex;
  /* border: 2px solid red; */
}

.Sidebar-container{
  height: auto;
  width: auto;
  max-width: 18rem;
  min-width: 4rem;
  align-self: flex-start;
  margin-right: 1.1rem;
  z-index: 100;
  background-color: #fff;
  transition: width 0.5s ease;
  padding: 0;
  box-shadow:  0 0px 12px rgba(8, 70, 243, 0.4);
}

.Sidebar-container.open-side{
  width: 18rem;
}

.Sidebar-container.close-side{
  width: 4rem;
}

.Main-content-div.close-side {
width: calc(100% - 4rem);
}


.Main-content-div.open-side{
width: calc(100% - 18rem);
}


.Main-content-div{
  height: 100%;
/*   
  border: 3px solid wheat; */
  transition: width 0.5s ease;
 /* Hide scrollbar for WebKit (Chrome, Safari) */
    scrollbar-width: none;
    overflow-y:auto;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}

/* Hide the OK button */
.ant-picker-footer-extra {
  display: none;
}

.table-scroll{
   scrollbar-width:none;
   -ms-overflow-style: none;
    scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  .Sidebar-container {
    position: fixed;
    top: 5.3rem; /* same as navbar height */
    left: 1rem;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0px 12px rgba(8, 70, 243, 0.4);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Above everything else */
  }

  .Sidebar-container.open-side {
    transform: translateX(0); /* Slide in */
  }

  .Sidebar-container.close-side{
    transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
  }

  .Main-content-div,
  .Main-content-div.open-side,
  .Main-content-div.close-side {
    width: 100% !important; /* Always full width */
  }
}
